<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <center>
        <h1>
            <b><i><u>
                you Will Get Job soon
            </u></i>
            </b>
        </h1>
        <h1>
            anyTHING MORE
            <h2>
            <a href="{% url 'ask' %}">PLZ CLICK MORE OR ELSE </a>
            </h2>
            <h1>
                <a href="{% url 'ask' %}"> more </a>
            </h1>
        </h1>
        <h2>
            <a href="{% url 'echhuk' %}">BYE BYE</a>
        </h2>
    </center>
</body>
</html>